# --- Ansible ---
*.retry

# --- Vault ---
.vault_pass
vault_pass.txt

# --- SSH keys ---
**/.ssh/*
id_rsa
id_rsa.pub
*.pem
*.key

# --- Logs ---
*.log
logs/
client_logs/
server_logs/

# --- Backup folders (NE PAS METTRE SUR GITHUB) ---
data/
backups/
tmp/

